a.nav-link:hover{
  color: blue;
}

@media only screen and (max-width: 950px) {
  div#sidebar{
    background-color: gainsboro;
  }
  div#contents{
    margin-top: 10px;
  }
  div#scrollspy{
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

@media only screen and (max-width: 600px) {
  div#sidebar{
    background-color: rgb(235, 233, 233);
  }
  div#contents{
    margin-top: 10px;
  }
  div#scrollspy{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
