<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="me-2" height="20" alt="HOVA logo" loading="lazy" src="../assets/img/hova-logo.png"/>
      <small>Hova Consultancy</small>
    </a>
    <a role="button" class="btn btn-primary" mdbRipple href="https://forms.gle/34EZ7AqnpzBjPne76">
      Apply Now
    </a>
  </div>
</nav>
<div class="row">
  <div class="col-12">
    <section class="p-3">
       <h3 class="text-center">How to Process for Application & Admission - 2022</h3>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus dolor eget porta luctus.
        Pellentesque porta in eros quis fermentum. Phasellus eu augue ac lectus aliquam imperdiet nec id sem.
        Sed dapibus dolor sed massa molestie hendrerit. Mauris aliquam, sem sagittis lobortis imperdiet, dolor
        ligula pharetra urna, in viverra est metus eu purus. Praesent at sollicitudin felis, ac vehicula erat.
        Maecenas nec sagittis dui, at cursus diam. Proin imperdiet vulputate lorem id bibendum. Curabitur
        interdum congue efficitur. In sollicitudin cursus nisl eget feugiat. Aliquam urna nisi, consectetur id
        lorem quis, finibus bibendum mi. Donec tempor pulvinar ante ac rutrum.
       </p>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-3 ps-5" id="sidebar">
    <div id="scrollspy" class="sticky-top" >
      <ul mdbScrollspy="scrollspy" class="nav flex-column nav-pills menu-sidebar">
        <li class="nav-item">
          <a mdbScrollspyLink="required-documents" class="nav-link">
            <strong>Step 1: Required Documents</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="applying" class="nav-link">
            <strong>Step 2: Applying</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="application-processing" class="nav-link">
            <strong>Step 3: Application Processing</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="admission" class="nav-link">
            <strong>Step 4: Admission</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="courier-visa-documents" class="nav-link">
            <strong>Step 5: Courier Visa Documents</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="applying-for-visa" class="nav-link">
            <strong>Step 6: Applying For Visa</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="pre-departure-preparation" class="nav-link">
            <strong>Step 7: Pre-departure Preparation</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="airport-pick-up" class="nav-link">
            <strong>Step 8: Airport Pick Up</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="registration-in-campus" class="nav-link">
            <strong>Step 9: Registration In Campus</strong>
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="residence-permit" class="nav-link">
            <strong>Step 10: Residence Permit</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-9 px-5" id="contents">
    <div class="scrollspy-example scrollspy-container">
      <section mdbScrollspyWindow="scrollspy" id="required-documents" [offset]=5>
        <h4>Step 1: Required Documents</h4>
        <ol>
          <li>Passport Scan Copy <strong>(Valid for at least 12 months)</strong></li>
          <li>Passport Size Photo</li>
          <li>Academic Transcripts & Certificates (Notarized color photocopy+ if not in English/Chinese,
            translated & notarized copies needed)</li>
          <li>CV or Resume</li>
          <li>Physical Examination Report<strong>(Within 6 months)</strong> </li>
          <li>Police Clearance or Non Criminal Certificate <strong>(Within 6 months)</strong></li>
          <li>Chinese or English Proficiency Certificate</li>
          <li>Bank Statement <strong>(Within 6 months)</strong></li>
          <li>Study Gap Certificate (If you have study gap)</li>
        </ol>
        <p class="note note-primary">
          <strong>Note: </strong>Only Masters/Ph.D. students require the additional documents below.<br>
          10. Two(2) Recommendation Letters<br>
          11. Study Plan/Research Proposal
        </p>
        <p class="note note-danger">
          <strong>Alert: </strong>All the Documents must have to be <strong>Original</strong> and <strong>Authentic</strong>.<br>
          Non Criminal Certificate, Physical Examination Report & Bank Statement can provide later if not ready yet
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="applying" [offset]=5>
        <h4>Step 2: Applying</h4>
        <h5>Using email</h5>
        <p>
          When your application documents are ready send an email to <strong>username@somedomain.com</strong><br>
          Don't forget to attach the documents stated in <strong>Step 1</strong>
        </p>
        <h5>Using our application portal</h5>
        <p>Click the button below to apply now</p>
        <a href="https://forms.gle/34EZ7AqnpzBjPne76" role="button" class="btn btn-primary mb-3" mdbRipple>Application Form</a>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="application-processing" [offset]=5>
        <h4>Step 3: Application Processing</h4>
        <p>
          After successful application, you have to pay the application processing fees as per the
          <i>payment invoice</i>. Upon receiving the fees, our application department will proceed
          with your application for admission. After successful payment, you will get a paid invoice as well.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="admission" [offset]=5>
        <h4>Step 4: Admission</h4>
        <p>
          After getting successful admission notice/confirmation letter from university, you will have to pay
          the service fee as mentioned on the <i>payment invoice</i>.
        </p>
        <p class="note note-danger">
          <strong>Alert: </strong>You are to pay your service fee after verifying your admission/scholarship
          from the university.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="courier-visa-documents" [offset]=5>
        <h4>Step 5: Courier Visa Documents</h4>
        <p>
          Upon getting the payment of the service fees, Company Name or the university will courier the
          original <i>Admission Letter and Visa Application</i> that have to be submitted along with other required
          documents to the Chinese Embassy in your country to apply for the visa.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="applying-for-visa" [offset]=5>
        <h4>Step 6: Appying for Visa</h4>
        <p>
          After receiving the original documents <i>(Admission Letter and Visa Application)</i>, you have to apply
          for the visa in your local Chinese Embassy. Our expert consultants will always assist you to prepare
          the additional documents to get the visa.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="pre-departure-preparation" [offset]=5>
        <h4>Step 7: Pre-departure Preparation</h4>
        <p>
          Once you get the visa you have to enter China during the university registration time.
        </p>
        <div class="note note-primary">
          <strong>Note: </strong>So, you have to purchase air ticket based on registration date mentioned
          on the admission letter. Before leaving for china, be careful to bring the necessary things:
          <ol>
            <li>All the original documents including Admission Letter, Visa Application (JW form), Academic
              Transcripts, Certificates, Physical Examination, Police Clearance, Study Gap Certificate
              (if any study gap), Language Proficiency Certificate, etc.</li>
            <li>Download VPN on mobile and laptop, international sites like
              Facebook, Youtube, Google, and some apps including WhatsApp, Viber, IMO are banned in China.</li>
            <li>Download some apps in advance like the “Hanping” or “Pleco” dictionary on your phone which
              will help you translate the Chinese language.</li>
            <li>Download WeChat on your mobile (WeChat is the main platform for communication in china).</li>
            <li>Keep money for university fees and personal expenses.</li>
            <li>Some of your favorite brands may be difficult to find in China, so it is suggested to carry
              some accessories, like body lotion, lip gel, toothpaste, toothbrush, towel, bath towel,
              personal skincare product, tissue paper and etc.</li>
            <li>Bring some important electronic products including, mobile, headphones, converter, charger,
              computer, power bank, USB cable.</li>
            <li>Take some emergency medicine like saline, band-aid, paracetamol, flagyl, paradol,
              for your first aid.</li>
          </ol>
        </div>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="airport-pick-up" [offset]=5 class="mt-3">
        <h4>Step 8: Airport Pick Up</h4>
        <p>
          In a certain period and city, students can enjoy free airport pick-up service, otherwise,
          students have to pay a service fee of 150$ – 300$ based on cities.
        </p>
        <p class="note note-danger">
          <strong>Alert: </strong>Students must have to inform before 7 days of  fly to enjoy the
          airport pick-up services.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="registration-in-campus" [offset]=5>
        <h4>Step 9: Registration In Campus</h4>
        <p>
          After arriving at the university campus, you have to register at the <i>International Office</i> for
          your enrolment and accommodation. It is very important to confirm your status as a student.
          If you fail to complete your registration you will not be able to continue your studies.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="residence-permit" [offset]=5>
        <h4>Step 10: Residence Permit</h4>
        <p>
          After you complete the registration, you will be able to continue your classes & other activities
          at the university. Within 30 Days Of your arrival in China, you have to take <i>Resident Permit</i> from
          the <i>Immigration Office</i>. But nothing to get worried about that, the school will arrange everything
          for you to get the residence permit.
        </p>
      </section>
    </div>
  </div>
</div>
<section>

</section>
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

  </section> -->
  <div class="text-center p-4 border-top">
    2022 Copyright
  </div>
</footer>
