<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <small>Company Logo and Company Name</small>
    </a>
    <button type="button" class="btn btn-primary">
      Apply Now
    </button>
  </div>
</nav>
<div class="row">
  <div class="col-12">
    <section class="p-3">
       <h3 class="text-center">How to Process for Application & Admission - 2022</h3>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus dolor eget porta luctus.
        Pellentesque porta in eros quis fermentum. Phasellus eu augue ac lectus aliquam imperdiet nec id sem.
        Sed dapibus dolor sed massa molestie hendrerit. Mauris aliquam, sem sagittis lobortis imperdiet, dolor
        ligula pharetra urna, in viverra est metus eu purus. Praesent at sollicitudin felis, ac vehicula erat.
        Maecenas nec sagittis dui, at cursus diam. Proin imperdiet vulputate lorem id bibendum. Curabitur
        interdum congue efficitur. In sollicitudin cursus nisl eget feugiat. Aliquam urna nisi, consectetur id
        lorem quis, finibus bibendum mi. Donec tempor pulvinar ante ac rutrum.
       </p>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-3 ps-5">
    <div id="scrollspy" class="sticky-top" >
      <ul mdbScrollspy="scrollspy" class="nav flex-column nav-pills menu-sidebar">
        <li class="nav-item">
          <a mdbScrollspyLink="required-documents" class="nav-link">
            Step 1: Required Documents
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="applying" class="nav-link">
            Step 2: Applying
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="application-processing" class="nav-link">
            Step 3: Application Processing
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="admission" class="nav-link">
            Step 4: Admission
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="courier-visa-documents" class="nav-link">
            Step 5: Courier Visa Documents
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="applying-for-visa" class="nav-link">
            Step 6: Applying For Visa
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="pre-departure-preparation" class="nav-link">
            Step 7: Pre-departure Preparation
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="airport-pick-up" class="nav-link">
            Step 8: Airport Pick Up
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="registration-in-campus" class="nav-link">
            Step 9: Registration In Campus
          </a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="residence-permit" class="nav-link">
            Step 10: Residence Permit
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-9 px-5">
    <div class="scrollspy-example scrollspy-container">
      <section mdbScrollspyWindow="scrollspy" id="required-documents" [offset]=5>
        <h4>Step 1: Required Documents</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere, nisl vel dignissim dignissim,
          eros metus posuere sem, vel aliquam mi lacus at justo. Mauris non dapibus odio, quis tempus diam.
          Nulla in fermentum neque. Donec feugiat ante magna, eget placerat odio accumsan id. Duis eget urna
          turpis. Mauris vel venenatis ante. Quisque vel hendrerit sem, et pulvinar enim. Suspendisse non
          pellentesque enim. Suspendisse at pulvinar augue. Vestibulum eget pellentesque neque. Mauris
          fermentum ex a sapien ornare, quis fringilla ligula aliquam. Ut massa odio, molestie quis turpis
          eget, imperdiet auctor velit. Nam id urna ornare, efficitur elit ac, laoreet ipsum. Vestibulum
          eleifend vestibulum sem vitae aliquet. Ut vulputate dapibus volutpat. Nam ipsum eros, mollis et
          finibus quis, congue eu justo.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="applying" [offset]=5>
        <h4>Step 2: Applying</h4>
        <p>
          Donec hendrerit augue eget placerat elementum. Duis justo urna, rutrum id fringilla a, imperdiet in
          elit. Donec nunc eros, placerat sed mauris eu, congue aliquet lorem. Donec tristique ligula ut
          auctor bibendum. Morbi suscipit auctor condimentum. Aliquam vitae lacus ac lectus tristique
          venenatis vel sit amet risus. Quisque posuere at eros sit amet venenatis. Vestibulum volutpat
          convallis arcu ac volutpat.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="application-processing" [offset]=5>
        <h4>Step 3: Application Processing</h4>
        <p>
          Donec non ligula sit amet est fermentum imperdiet. Sed mattis ligula ac nisl rhoncus, in cursus est
          blandit. Suspendisse semper, sapien eu tincidunt ultrices, lectus quam congue massa, eget faucibus
          metus ligula eget massa. Suspendisse turpis justo, fermentum id leo in, feugiat venenatis quam.
          Vestibulum finibus auctor gravida. Maecenas nec ipsum nec odio finibus viverra. Curabitur molestie
          diam non ipsum finibus tincidunt.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="admission" [offset]=5>
        <h4>Step 4: Admission</h4>
        <p>
          Duis condimentum erat lectus, bibendum imperdiet enim imperdiet quis. Fusce in lorem ac augue
          vulputate malesuada. In scelerisque consectetur enim ac ultrices. Suspendisse ac nulla commodo
          justo sagittis gravida sed ornare sapien. Proin ultricies lectus nisl, nec euismod nunc ornare non.
          Suspendisse a interdum justo, a auctor nibh. Nunc viverra suscipit ligula sit amet tempus. Aliquam
          erat volutpat. Mauris nec enim ex. Morbi scelerisque eros ligula, et hendrerit orci lacinia sit amet. Duis vehicula in quam vel gravida.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="courier-visa-documents" [offset]=5>
        <h4>Step 5: Courier Visa Documents</h4>
        <p>
          Suspendisse a mattis orci. In eget lacus in justo interdum bibendum. Integer rhoncus lorem eget
          lorem convallis, vitae fermentum mauris vestibulum. Aliquam finibus odio eu erat iaculis tristique.
          Proin at pretium augue, eu rhoncus metus. Morbi tincidunt sed elit eu venenatis. Maecenas tincidunt
          arcu at sollicitudin volutpat. Nulla consequat vel ipsum et gravida. Maecenas ac tempus erat.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="applying-for-visa" [offset]=5>
        <h4>Step 6: Appying for Visa</h4>
        <p>
          Donec sodales, lorem a lacinia mollis, metus magna vulputate nisl, sed malesuada lectus metus quis
          elit. Praesent quis finibus ligula, ut aliquam turpis. Nullam dictum mollis nibh vel feugiat. Cras
          ultricies ligula pellentesque nisl porta, eu semper neque tempus. Morbi sit amet velit risus. Nulla
          consequat sem in sapien aliquam imperdiet. Phasellus condimentum sodales enim, eu tincidunt erat
          tincidunt sit amet. Nunc nunc magna, elementum in tincidunt at, egestas in lacus.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="pre-departure-preparation" [offset]=5>
        <h4>Step 7: Pre-departure Preparation</h4>
        <p>
          Proin gravida hendrerit posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          consequat ligula eu mauris rutrum congue. Phasellus suscipit id augue eu ornare. Cras porttitor
          dictum urna, vitae sagittis mi dapibus et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In ac faucibus tellus, lobortis lobortis eros. Ut dignissim eros sed malesuada vestibulum. In hac
          habitasse platea dictumst. Nunc id suscipit mi. Maecenas sed arcu mattis, pharetra mi quis, accumsan
          enim. Proin tempor ligula mi, eget mattis dui commodo a. In tristique ex arcu. Donec fringilla diam
          et dolor sollicitudin tempus.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="airport-pick-up" [offset]=5>
        <h4>Step 8: Airport Pick Up</h4>
        <p>
          Sed tristique lorem vitae nisl suscipit, vitae hendrerit sem fermentum. Etiam maximus sem sed ex
          sollicitudin, luctus convallis ante tristique. Fusce eros nisl, luctus quis faucibus eu, sodales nec
          purus. Curabitur vehicula, eros eget imperdiet interdum, tortor dolor mattis elit, vitae tincidunt
          mauris mi et sem. Donec sed interdum lectus. Nunc diam ante, consectetur a elit at, vulputate
          eleifend erat. Sed sed pellentesque tortor. Fusce vehicula molestie purus sed tempor. Etiam lectus
          erat, egestas ut feugiat vitae, viverra eu nisi. Maecenas dapibus sit amet metus vitae viverra.
          Vestibulum non condimentum libero, sed faucibus erat. Praesent luctus neque sem, in fringilla tortor
          convallis sed. Donec eu justo nunc.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="registration-in-campus" [offset]=5>
        <h4>Step 9: Registration In Campus</h4>
        <p>
          Proin egestas, ex eu convallis gravida, ex libero tempus diam, non efficitur est sem in lectus.
          Suspendisse quis tincidunt odio, at ullamcorper justo. Vivamus id sem nec nulla consequat vestibulum.
          Praesent volutpat vel mauris at congue. Fusce malesuada congue erat, convallis cursus libero elementum
          vel. Aenean pellentesque sem eros, eu facilisis ipsum sollicitudin ac. Aliquam semper libero nunc, quis
          bibendum nisl volutpat non. Mauris arcu mauris, tincidunt at lacus nec, auctor accumsan purus.
        </p>
      </section>
      <section mdbScrollspyWindow="scrollspy" id="residence-permit" [offset]=5>
        <h4>Step 10: Residence Permit</h4>
        <p>
          Curabitur fermentum mi sed malesuada scelerisque. Morbi maximus at risus ac ultrices. Phasellus
          mauris magna, vestibulum eu mauris vitae, facilisis blandit metus. Nulla aliquam metus sit amet ex
          iaculis commodo. Mauris ultricies, ex ut mollis varius, diam diam volutpat eros, in vestibulum
          libero lacus vel eros. Integer scelerisque fringilla nisl. Donec porta ante varius nibh porta, vel
          fermentum lorem imperdiet. Aenean vitae elit eget quam tincidunt suscipit quis nec purus.
          Suspendisse eget commodo metus. Pellentesque venenatis magna vitae purus placerat bibendum. Ut eu
          aliquet nisl, vel ultricies ipsum. Vestibulum mauris felis, scelerisque ac magna interdum, laoreet
          dictum quam. Donec cursus lectus quis eros varius, vel vestibulum augue scelerisque. Praesent quis
          leo ac purus euismod fermentum.
        </p>
      </section>
    </div>
  </div>
</div>
<section>

</section>
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

  </section> -->
  <div class="text-center p-4 border-top">
    2022 Copyright
  </div>
</footer>
